/* Typography viariables */
$font-family: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 35px;

/* Colors variables */
$light-green: #19de9f;